body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #333;
    overflow: hidden;
    
}
.main{
    margin: auto;
    padding: 5px;
    background-color: white;
    width: 300px;
    height: 450px;
    box-shadow: 10px 10px 5px black,
               inset 0px 0px 50px  black;
    border-radius: 20px;
    border: none;
   
}
.input-check:checked~.main{
    background-color: #00f7ff;
}
#result{
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    padding: 20px;
    width: 80%;
    height: 50px;
    margin: 10px;
    pad: 10px;
    box-shadow: inset 6px 6px 10px black;
    border-radius: 20px;
    text-align: right;
    border: none;
}
.NoBtn{
    font-weight: bold;
    font-size: 20px;
    border: none;
    box-shadow: inset 5px 5px 2px wheat;
   border-radius: 50%;
   width: 20%;
   height: 50px;
   margin: 5px;
   padding: 5px;
   cursor: pointer;
   transition: .5s ease;
   
}
.resultBtn{
    font-weight: bold;
    font-size: 20px;
    box-shadow: inset 5px 2px wheat;
    border-radius: 50px;
    border: none;
    width: 40%;
    height: 50px;
    margin: 5px;
    cursor: pointer;
 }
 .NoBtn:focus, .resultBtn:focus{
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
 }
.light{
    position: absolute;
    top:0px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 10px;
    background-color: #00f7ff;
    border-radius: 20px;
}
.light::before{
    content: '';
    position: absolute;
    top: -900px;
    left: 0;
    width: 100%;
    height: 500px;
    /* background-color: #333; */
    background: linear-gradient(to bottom, rgba(255, 255, 255, .3) -50%, rgba(255, 255, 255, 0) 90%);
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
    pointer-events: none;
    transition: .5s ease;
}
.input-check:checked~.light::before{
    top: 0;
}
.toggle{
    background: #191919;
    position: absolute;
    top: 200px;
    right: 540px;
    width: 60px;
    height: 120px;
    border-radius: 10px;
}
.toggle::before{
    content: '';
    position: absolute;
    left: 30px;
    top: -20px;
    transform: translate(-50%, 50%);
    width: 10px;
    height: 80px;
    background-color: wheat;
}
.toggle::after{
    content: '';
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    background: #333;
    border: 2px solid #191919;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    transition: .5s ease;
}
.input-check:checked~.toggle::after{
    top: 65px;
}
.input-check{
    position: absolute;
    right: 550px ;
    z-index: 1;
    opacity: 0;
}
.toggle .text{
    color: white;
    position: absolute;
    top: 15px;
    right: -1px;
    transform: translateX(-50%);
    font-size: 1em;
    z-index: 1;
    text-transform: uppercase;
    pointer-events: none;
    transition: .5s ease;
}
.toggle .text.off{
    opacity: 1;
}
.input-check:checked~.toggle .text.off{
    top: 76px;
    opacity: 0;
}
.toggle .text.on{
    opacity: 0;
}
.input-check:checked~.toggle .text.on{
    top: 80px;
    left: 35px;
    opacity: 1;
    color: #00f7ff;
    text-shadow: 0 0 15px #00f7ff,
                 0 0 30px #00f7ff,
                 0 0 45px #00f7ff,
                 0 0 60px #00f7ff
}
